@page "/register"

@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Components.Forms
@using System.Security.Claims
@using userapi.Domain
@using userapi.Domain.Users
@inject AppDbContext context
@inject NavigationManager navmanager


<div class="row">
    <div class="col-lg-4 offset-lg-4 pt-4 pb-4 border">
        <Microsoft.AspNetCore.Components.Forms.EditForm Model="@viewmodel" OnValidSubmit="CreateUser" FormName="RegisterForm">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <div class="mb-3 text-center flex-column">
                <h3>Register</h3>
            </div>
            <div class="mb-3">
                <label>E-Mail</label>
                <Microsoft.AspNetCore.Components.Forms.InputText @bind-Value="viewmodel.email" class="form-control" placeholder="E-Mail" type="email">
                    <Microsoft.AspNetCore.Components.Forms.ValidationMessage For="() => viewmodel.email"></Microsoft.AspNetCore.Components.Forms.ValidationMessage>
                </Microsoft.AspNetCore.Components.Forms.InputText>
            </div>
            <div class="mb-3">
                <label>Password</label>
                <Microsoft.AspNetCore.Components.Forms.InputText @bind-Value="viewmodel.pw" class="form-control" placeholder="Password" type="password">
                    <Microsoft.AspNetCore.Components.Forms.ValidationMessage For="() => viewmodel.pw"></Microsoft.AspNetCore.Components.Forms.ValidationMessage>
                </Microsoft.AspNetCore.Components.Forms.InputText>
            </div>
            <div class="mb-3">
                <label>Nickname</label>
                <Microsoft.AspNetCore.Components.Forms.InputText @bind-Value="viewmodel.nickname" class="form-control" placeholder="Nickname">
                    <Microsoft.AspNetCore.Components.Forms.ValidationMessage For="() => viewmodel.nickname"></Microsoft.AspNetCore.Components.Forms.ValidationMessage>
                </Microsoft.AspNetCore.Components.Forms.InputText>
            </div>
            <div class="mb-3 text-center">
                <span class="text-danger">@errors</span>
            </div>
            <div class="mb-3 d-grid gap-2">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </Microsoft.AspNetCore.Components.Forms.EditForm>
    </div>

</div>
@code {
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }
    [SupplyParameterFromForm]
    public RegisterViewModel viewmodel { get; set; } = new();

    private string errors { get; set; } = "";
    private async Task CreateUser()
    {
        var user = context.Users.Where(u => u.email == viewmodel.email).FirstOrDefault();
        if (user == null)
        {
            string? mail, pw, nick;
            mail = viewmodel.email;
            pw = viewmodel.pw;
            nick = viewmodel.nickname;
            var newuser = new User(mail, pw, nick);
            context.Users.Add(newuser);
            context.SaveChanges();
            var claims = new List<Claim>
            {
                new Claim(ClaimTypes.Email,newuser.email),
                new Claim(ClaimTypes.Name,newuser.nickname)
            };

            var identity = new ClaimsIdentity(claims, CookieAuthenticationDefaults.AuthenticationScheme);
            var principal = new ClaimsPrincipal(identity);
            await HttpContext.SignInAsync(principal);
            navmanager.NavigateTo("/");
        }
    }
}
